body {
  line-height: 1.6;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  background-color: lightgray;
  margin: 0;
  padding: 10px;
}

/* Header */
#header {
  padding: 20px 0;
  background-color: lightblue;
  border: 2px solid steelblue;
  text-align: center;
}

#banner_text {
  margin: auto;
}

#header h1 {
  margin: 10px 0;
}

.slogan {
  margin-top: 8px;
}


#navigation_menu {
  background-color: lightgray;
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 10px 0;
}


#navigation_menu table {
  margin: auto;
}

#navigation_menu a {
  text-decoration: none;
  color: black;
}


/* Content */
#content {
  width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 2px solid gray;
}

/* Title */
.title {
  padding: 8px;
  margin-bottom: 15px;
  background-color: lightyellow;
  border: 1px solid goldenrod;
  color: black;
}


/* Gallery */
.gallery {
  background-color: white;
  border: 2px solid gray;
}

.gallery img {
  width: 30%;
  margin: 5px;
  border: 2px solid black;
  background-color: white;
  display: inline-block;
}


/* Media */
.media {
  background-color: whitesmoke;
  border: 2px solid gray;
}


/* Comment */
.comment-form {
  background-color: lightgray;
  border: 2px solid dimgray;
}

/* Footer */
#footer {
  width: 700px;
  margin: 20px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid gray;
  font-size: 14px;
}
p {
  margin-bottom: 12px;
  line-height: 1.9;
}
.gallery,
.media,
.comment-form {
  margin-bottom: 20px;
  padding: 15px;
}
