body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  background-color: lightgray;
  margin: 0;
  padding: 10px;
}

/* Header */
#header {
  background-color: lightblue;
  border: 2px solid steelblue;
}

#banner_text {
  margin: auto;
}

#header h1 {
  margin: 10px 0;
}

.slogan {
  margin-top: 8px;
}


#navigation_menu {
  background-color: lightgray;
  border: 1px solid gray;
}


#navigation_menu table {
  margin: auto;
}

#navigation_menu a {
  text-decoration: none;
  color: black;
}


/* Content */
#content {
  width: 900px;
  margin: 0 auto 10px;
  padding: 10px;
  background-color: white;
  border: 2px solid gray;
}

/* Title */
.title {
  background-color: lightyellow;
  border: 1px solid goldenrod;
  color: black;
}


/* Gallery */
.gallery {
  background-color: white;
  border: 2px solid gray;
}

.gallery img {
  border: 2px solid black;
  background-color: white;
}


/* Media */
.media {
  background-color: whitesmoke;
  border: 2px solid gray;
}


/* Comment */
.comment-form {
  background-color: lightgray;
  border: 2px solid dimgray;
}

/* Footer */
#footer {
  width: 900px;
  margin: 0 auto;
  padding: 8px;
  background-color: white;
  border: 1px solid gray;
  font-size: 14px;
}
